.section {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 268px;
}

.mainDiv {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 40px;
  width: 1000px;
}

.mainDiv p {
  max-width: 900px;
  margin-bottom: 40px;
  font-size: 18px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  font-size: 14px;

  width: 226px;
  height: 45px;

  background: #0c42cd;
  box-shadow: 0px 5px 40px rgba(30, 68, 248, 0.4);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.button:hover {
  filter: brightness(170%);
}

.mainText {
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 120%;
}

@media (max-width: 1440px) {
  .mainDiv {
    width: 70%;
  }
}

@media (max-width: 1160px) {
  .section {
    padding-top: 216px;
  }
}

@media (max-width: 1090px) {
  .mainDiv p {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .mainText {
    font-size: 40px;
  }

  .mainDiv p {
    max-width: 500px;
    font-size: 14px;
  }
}

@media (max-width: 460px) {
    .section {
        height: 800px;
      padding-top: 188px;
    }
  .mainDiv {
    width: 89%;
  }
  .mainDiv p {
    margin-bottom: 64px;
  }

  .mainText {
    font-size: 36px;
    max-width: 380px;
  }

  .mainDiv p {
    max-width: 380px;
    font-size: 14px;
  }
}
