.letsBuildDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 240px;
}

.letsBuildText, .mobileText {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    text-transform: uppercase;
    width: 1200px;

    background: linear-gradient(180deg, rgba(29, 34, 48, 0.7) 18.32%, rgba(29, 34, 48, 0) 78.88%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobileText {
    display: none;
}

@media (max-width: 1700px) {
    .letsBuildText {
        font-size: 100px;
    }
}

@media (max-width: 1440px) {
    .letsBuildText {
        width: 70%;
    }
    .letsBuildText {
        font-size: 80px;
    }
}

@media (max-width: 1100px) {
    .letsBuildText {
        font-size: 70px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .letsBuildText {
        font-size: 60px;
        width: 80%;
    }
}

@media (max-width: 766px) {
    .letsBuildDiv {
        height: 300px;
    }

    .letsBuildText {
        font-size: 50px;
    }
}

@media (max-width: 460px) {
    .letsBuildText {
        display: none;
    }

    .mobileText {
        width: 89%;
        font-size: 40px;
        display: block;
    }

    .letsBuildDiv {
        margin-left: 0;
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 120px;
    }

    .letsBuildText {
        font-size: 40px;
    }
}