.section {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1400px;
}

.mainDiv {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
    margin-top: 240px;
    width: 1000px;
}

.textTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;

    display: flex;
    align-items: center;
    background-color: #1945E1 ;
    background-image: linear-gradient(133.96deg, #1945E1 10.01%, #206DE1 93.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 10px;
}

.textHeader {
    max-width: 500px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

.serviceTitle, .serviceTitle4, .serviceTitle5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.serviceTitle4 {
    max-width: 145px;
}

.serviceTitle5 {
    max-width: 220px;
}

.service, .block1, .block2, .block3, .block4, .block5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 42px;

    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;

    margin-top: 24px;
}

.block1 {
    height: 209px;
    /*height: 250px;*/
    width: 1000px;
}

.block2 {
    height: 205px;
    /*height: 246px;*/
    width: 354px;
    margin-right: 24px;
}

.block3 {
    height: 205px;
    /*height: 246px;*/
    width: 622px;
}

.block4 {
    height: 241px;
    /*height: 282px;*/
    width: 681px;
    margin-right: 24px;
}

.block5 {
    height: 241px;
    /*height: 282px;*/
    width: 295px;
    padding: 40px;
}

.serviceHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 14px;
}

.serviceHeader p {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.button {
    display: none;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    width: 138px;
    height: 41px;

    background: #0C42CD;
    box-shadow: 0px 5px 40px rgba(30, 68, 248, 0.4);
    border-radius: 30px;

    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    border: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(170%);
}

.twoServices {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.serviceBlock {
    margin-bottom: 40px;
}

.wrapper {

}

.serviceText {

}

@media (max-width: 1440px) {
    .mainDiv {
        width: 70%;
    }
}

@media (max-width: 1380px) {
    .block1 {
        height: 227px;
        /*height: 268px;*/
        width: 900px;
    }

    .block2 {
        height: 223px;
        /*height: 264px;*/
        width: 319px;
        margin-right: 24px;
    }

    .block3 {
        height: 223px;
        /*height: 264px;*/
        width: 560px;
    }

    .block4 {
        height: 259px;
        /*height: 300px;*/
        width: 613px;
        margin-right: 24px;
    }

    .block5 {
        height: 259px;
        /*height: 300px;*/
        width: 266px;
        padding-right: 32px;
    }
}

@media (max-width: 1260px) {
    .mainDiv {
        margin-top: 200px
    }
}

@media (max-width: 1100px) {
    .twoServices {
        flex-direction: column;
    }

    .section {
        height: 2000px;
    }

    .block1, .block2, .block3, .block4, .block5 {
        width: 500px;
        height: auto;
    }
    .block2 {
        margin-right: 0;
    }
    .block4 {
        margin-right: 0;
    }
    .serviceTitle, .serviceTitle4, .serviceTitle5 {
        text-align: center;
        max-width: none;
    }

    .mainDiv {
        justify-content: center;
        width: auto;
    }

    .textTitle {
        justify-content: center;
    }
    .textHeader {
        justify-content: center;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 760px) {
    .serviceTitle, .serviceTitle4, .serviceTitle5 {
        font-size: 16px;
    }

    .block1, .block2, .block3, .block4, .block5 {
        width: 500px;
        height: auto;
    }

    .serviceText {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .section {
        height: 2100px;
    }
    .mainDiv {
        width: 89%;
    }
    .textTitle {
        justify-content: flex-start;
    }

    .textHeader {
        max-width: 340px;
        text-align: start;
    }

    .wrapper {
        align-items: center;
    }
    .serviceText {
        font-size: 12px;
    }
    .serviceTitle, .serviceTitle4, .serviceTitle5 {
        text-align: start;
        max-width: none;
    }

    .block1, .block2, .block3, .block4, .block5 {
        height: auto;
        width: 100%;
        padding: 30px 31px;
    }

    .serviceTitle, .serviceTitle4, .serviceTitle5 {
        width: 100%;
        font-size: 14px;
        text-align: start;
    }

    .serviceHeader {
        font-size: 14px;
    }

    .mainDiv {
        margin-top: 140px;
    }
}