.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

.centeredDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleText {
    font-weight: 700;
    font-size: 14px;
    background-color: #1945E1 ;
    background-image: linear-gradient(133.96deg, #1945E1 10.01%, #206DE1 93.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    list-style: none;
    margin-top: 35px;
}

.ul li {
    margin-right: 80px;
}

.ul li:last-child {
    margin-right: 0;
}

.portfolio {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 34px;
    filter: opacity(70%);
}

.portfolio p {
    margin-right: 20px;
    margin-left: 20px;
}

.brushfamMiniLogo {
    width: 89px;
    height: 15px;
}

.venturesMiniLogo {
}

@media (max-width: 1000px) {
    .section {
        height: 510px;
    }

    .ul {
        padding-left: 6%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 80px;
        grid-row-gap: 32px;
    }

    .ul li {
        margin-right: 0;
    }

    .ul li:nth-child(1) {
        grid-row: 1;
        grid-column-start: 2;
    }
    .ul li:nth-child(2) {
        grid-row: 2;
        grid-column-start: 1;
    }
    .ul li:nth-child(3) {
        grid-row: 1;
        grid-column-start: 1;
        display: flex;
        justify-content: center;
    }

    .ul li {

    }
}

@media (max-width: 700px) {
    .ul {
        padding-left: 5%;
        row-gap: 18px;
        grid-column-gap: 40px;
    }
}

@media (max-width: 540px) {
    .section {
        height: 330px;
        padding-top: 40px;
        padding-bottom: 38px;
    }

    .portfolio p {
        margin-left: 7px;
        margin-right: 1px;
        font-size: 10px;
    }
    .venturesMiniLogo {
        transform: scale(0.9);
    }

    .ul {
        grid-column-gap: 32px;
    }

    .ul li img {
        width: 100%;
    }

    .ul li:nth-child(1) a {
        width: 110px;
    }
    .ul li:nth-child(2) a {
        width: 150px;
    }
    .ul li:nth-child(3) a {
        width: 100px;
    }
    .ul li:nth-child(4) a {
        width: 99px;
    }

    .brushfamMiniLogo {
        width: 92px;
        height: 16px;
    }

    .portfolio {
        margin-top: 30px;
    }
}

