.section {
    padding-top: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1018px
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 24px;
    max-width: 500px;
}

.descriptionText {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #9097AA;
    margin-bottom: 72px;
    max-width: 687px;
}

.titleText {
    font-weight: 700;
    font-size: 14px;
    background-color: #1945E1 ;
    background-image: linear-gradient(133.96deg, #1945E1 10.01%, #206DE1 93.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.auditProcessImg {
    margin-bottom: 230px;
}

.auditProcessMobileImg {
    display: none;
}

@media (max-width: 1200px) {
    .auditProcessImg, .investment {
        width: 86%
    }
}

@media (max-width: 900px) {
    .auditProcessImg {
        display: none;
    }

    .auditProcessMobileImg {
        display: block;
        margin-bottom: 230px;
    }
}

@media (max-width: 460px) {
    .headerText {
        width: 89%;
        text-align: start;
    }
    .auditProcessMobileImg, .investment {
        width: 89%;
    }

    .descriptionText {
        width: 100%;
    }
}