@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 176px;
    margin-bottom: 240px;
}

.divWrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.label {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.input::placeholder, .lastInput::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9097AA;
    padding-left: 16px;
}

.input, .lastInput {
    height: 53px;
    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;

    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.input {
    width: 460px;
}

.lastInput {
    width: 1000px;
}

.button {
    width: 122px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    background: #0C42CD;
    box-shadow: 0px 5px 40px rgba(30, 68, 248, 0.4);
    border-radius: 30px;
    border: none;
}

.button:hover {
    filter: brightness(170%);
    cursor: pointer;
}

.submittedText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 122px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 54px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lastColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileDiv {
    border: 1px dashed #0C42CD;
}

.fileDiv, .fileDivError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 448px;
    height: 131px;
    cursor: pointer;
    padding-top: 14px;
}

.fileDivError {
    border: 1px dashed #CD0C0C;
}

.uploadText {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.sizeText {
    color: #9097AA;
}

.sizeText, .sizeTextError {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}

.sizeTextError {
    color: #CD0C0C;
}

.files {
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
    background-color: #1945E1 ;
    background-image: linear-gradient(133.96deg, #1945E1 10.01%, #206DE1 93.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 1440px) {
    .divWrapper {
        width: 69%;
    }
}