.socialWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 82px;
}

.socialWrapperMobile {
    display: none;
}

.socialButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.socialButton p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 10px;
}

.socialButton:hover {
    filter: brightness(170%);
    cursor: pointer;
}

.socialBlock {
    display: flex;
    align-items: flex-start;
    width: 240px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 700px) {
    .socialWrapper {
        display: none;
    }

    .socialWrapperMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 84px;
    }

    .socialButton p {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-left: 8px;
    }

    .socialButton {
        margin-right: 0;
    }
}