.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 201px;
}

.divWrapper {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.titleTextDiv {
    display: flex;
    flex-direction: column;
    margin-right: 180px;
}

.titleText {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    background-color: #1945E1 ;
    background-image: linear-gradient(133.96deg, #1945E1 10.01%, #206DE1 93.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 9px;
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 340px;
}

.briefDiv {
    display: flex;
    flex-direction: column;
}

.briefTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.briefDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9097AA;
    max-width: 500px;
}

@media (max-width: 1159px) {
    .section {
        padding-top: 120px;
    }
}

@media (max-width: 1440px) {
    .divWrapper {
        width: 69%;
    }
}
@media (max-width: 1090px) {
    .titleTextDiv {
        margin-right: 100px;
    }
}

@media (max-width: 900px) {
    .divWrapper {
        flex-direction: column;
    }

    .headerText {
        margin-bottom: 24px;
    }

    .titleTextDiv {
        margin-right: 0;
    }
}

@media (max-width: 460px) {
    .divWrapper {
        width: 89%;
    }

    .headerText {
        font-size: 36px;
        margin-bottom: 24px;
        max-width: none;
    }
}