.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 495px;
    padding-top: 79px;
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
    max-width: 500px;
}

.challengesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.challengesDiv1, .challengesDiv2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.challengesDiv1 {
    padding-right: 64px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.challengesDiv2 {
    padding-left: 64px;
}

.titleDiv {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.titleText1, .titleText2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 20px;
}

.titleText1 {
    max-width: 154px;
}

.titleText2 {
    max-width: 240px;
}
