.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 626px;
    padding-top: 79px;
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.descriptionDiv1 {
    display: grid;
    flex-direction: row;
    grid-template-columns: 34fr 33fr 33fr;
    column-gap: 16px;
    width: 1000px;
    margin-bottom: 16px;
}

.descriptionDiv2 {
    display: grid;
    flex-direction: row;
    grid-template-columns: 42fr 57fr;
    column-gap: 16px;
    width: 1000px;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 64px;

    /*width: 333px;*/
    height: 138px;

    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.descriptionBlockTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}


@media (max-width: 1440px) {
    .descriptionDiv1 {
        width: 70%;
    }

    .descriptionDiv2 {
        width: 70%;
    }
}