.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 240px;
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
    max-width: 500px;
}

.onboardProcessImg {
    margin-bottom: 64px;
}

.onboardProcessText {
    margin-bottom: 240px;
}

.onboardProcessMobileImg {
    display: none;
}

@media (max-width: 1300px) {
    .onboardProcessImg {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .onboardProcessImg, .onboardProcessText {
        display: none;
    }

    .onboardProcessMobileImg {
        display: block;
        margin-bottom: 240px;
    }
}

@media (max-width: 460px)  {
    .headerText {
        width: 89%;
        margin-bottom: 40px;
        text-align: left;
    }

    .onboardProcessMobileImg {
        width: 89%;
    }
}
