.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 230px;
}

.BlockRow {
    display: flex;
    flex-direction: row;
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.commonText, .polkadotText {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.polkadotText {
    font-size: 24px;
    margin-top: 64px;
}

.block1, .block2, .block3, .block4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.block1 {
    width: 238px;
    height: 72px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.block2 {
    width: 276px;
    height: 72px;
}

.block3 {
    width: 172px;
    height: 96px;
    margin-right: 20px;
    padding: 0 40px;
}

.block4 {
    width: 342px;
    height: 96px;
    padding: 0 45px;
}

@media (max-width: 900px) {
    .section {
        padding-top: 180px;
    }

    .BlockRow {
        flex-direction: column;
    }

    .block1, .block2, .block3 {
        width: 380px;
        height: 72px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .block4 {
        width: 380px;
        height: 96px;
    }

    .polkadotText {
        text-align: center;
    }
}

@media (max-width: 460px) {
    .section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .BlockRow {
        width: 100%;
    }

    .block1, .block2, .block3, .block4 {
        width: 100%;
    }

    .headerText {
        font-size: 36px;
    }
}