.mainProperty {
    background-image: url("https://i.imgur.com/hwcLpqZ.jpg");
}

.aboutUsProperty {
    background-image: url("https://i.imgur.com/rXhSTPl.jpg");
}

.advisoryProperty {
    background-image: url("https://i.imgur.com/NkFQWOS.jpg");
}

.investmentProperty {
    background-image: url("https://i.imgur.com/NkFQWOS.jpg");
}

.onboardProperty {
    background-image: url("https://i.imgur.com/NkFQWOS.jpg");
}

.polkadotOnboardProperty {
    background-image: url("https://i.imgur.com/NkFQWOS.jpg");
}

.securityProperty {
    background-image: url("https://i.imgur.com/NkFQWOS.jpg");
}

@media (max-width: 460px) {
    .mainProperty {
        background-image: url("https://i.imgur.com/8uCoG9j.jpg");
    }

    .aboutUsProperty {
        background-image: url("https://i.imgur.com/JShUs6T.jpg");
    }

    .advisoryProperty {
        background-image: url("https://i.imgur.com/9U73Kdu.jpg");
    }

    .investmentProperty {
        background-image: url("https://i.imgur.com/9U73Kdu.jpg");
    }

    .onboardProperty {
        background-image: url("https://i.imgur.com/JZviiWG.jpg");
    }

    .polkadotOnboardProperty {
        background-image: url("https://i.imgur.com/JZviiWG.jpg");
    }

    .securityProperty {
        background-image: url("https://i.imgur.com/0iFzhfh.jpg");
    }
}
