@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDiv {
    display: flex;
    flex-direction: row;
    padding: 64px;
    width: 1000px;
    height: 364px;
    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.contactDivMobileWrapper {
    display: none;
}

.contactDivMobile {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: auto;
    padding: 64px 40px 64px 40px;
    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 135px;
}

.headerText {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.descriptionText {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #9097AA;
    margin-bottom: 54px;
}

.socialWrapper {
    display: flex;
    flex-direction: column;
}

.socialRow {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 10px;
}

.socialButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    width: 141px;
    height: 45px;
    background: linear-gradient(110.11deg, rgba(144, 151, 170, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.socialButton p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 10px;
}

.socialButton:hover {
    filter: brightness(170%);
    cursor: pointer;
}

.formDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-margin: 100px;
}

.formDivMobile {
    display: none;
}

.label {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.inputError,
.input {
    width: 100%;
    margin-bottom: 41px;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline-style: none;
}

.input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9097AA;
}

.inputError::placeholder {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #CD0C0C;
}

.button {
    width: 122px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    background: #0C42CD;
    box-shadow: 0px 5px 40px rgba(30, 68, 248, 0.4);
    border-radius: 30px;
    border: none;
}

.button:hover {
    filter: brightness(170%);
    cursor: pointer;
}

.submittedText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 122px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

@media (max-width: 1240px) {
    .contactDiv {
        width: 79%
    }
    .leftDiv {
        margin-right: 75px;
    }
}

@media (max-width: 955px) {
    .contactDiv {
        display: none;
    }

    .contactDivMobileWrapper {
        display: block;
    }

    .contactDivMobile {
        margin-bottom: 64px;
    }

    .headerText {
        margin-bottom: 24px;
    }

    .descriptionText {
        margin-bottom: 64px;
    }

    .socialButton {
        width: 182px;
        height: 52px;
    }

    .socialButton p {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    .socialRow {
        column-gap: 16px;
    }
}

@media (max-width: 460px) {
    .socialRow {
        column-gap: 4px;
    }

    .contactDivMobileWrapper {
        width: 89%;
    }

    .contactDivMobile {
        width: 100%;
        height: auto;
    }

    .socialButton {
        width: 166px;
        height: 47px;
    }

    .socialButton p {
        font-size: 18px;
    }

    .socialWrapper {
        align-items: center;
    }
}
