.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  margin-top: 82px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding-top: 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.socialDiv a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 200px;
  float: left;
}

.socialDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 38px;
  column-gap: 30px;
}

.socialDivMobile {
  display: none;
}

.footerLastText {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 1200px;
  margin-top: 20px;
}

.brushfamLogo {
}

.footerNavigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.itemsColumn, .itemsColumnLast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemsTitle, .itemsTitleLast {
  font-weight: 600;
  font-size: 14px;
}

.item {
  font-weight: 400;
  font-size: 12px;
}

.itemsTitle,
.item {
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 12px;
}

@media (max-width: 1440px) {
  .footerDiv,
  .footerLastText {
    width: 84%;
  }
}

@media (max-width: 1300px) {
  .brushfamLogo {
    width: 224px;
  }
  .socialDiv {
    column-gap: 17px;
  }
  .footerSocial {
    margin-right: 100px;
  }
  .footerDiv {
    padding-top: 90px;
  }
  .footerSection {
    height: 320px;
  }
}

@media (max-width: 1159px) {
  .itemsTitle {
    font-size: 13px;
  }

  .item {
    font-size: 11px;
  }

  .footerSection {
    height: 360px;
  }
}

@media (max-width: 955px) {
  .footerSection {
    height: 1310px;
  }

  .socialDiv {
    display: none;
  }

  .socialDivMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 64px;
  }

  .footerDiv {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .footerSocial {
    align-items: center;
  }

  .brushfamLogo {
    width: 320px;
    margin-bottom: 71px;
  }

  .footerSocial {
    margin-right: 0;
  }
  .socialDiv {
    column-gap: 30px;
  }

  .footerNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemsColumn, .itemsColumnLast {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 16px
  }

  .itemsColumnLast {
    gap: 6px;
  }

  .itemsTitle {
    font-size: 20px;
    padding-bottom: 4px;
    margin-bottom: 0;
  }

  .item {
    font-size: 14px;
    margin-bottom: 0;
  }

  .footerLastText {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  .footerSection {
    margin-top: 64px;
  }
}

@media (max-width: 460px) {
}
