.navbarMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 0 60px;
    align-items: center;
    top: 0;
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7.5px);
    z-index: 1;
}

.navbarContainer {
    position: fixed;
    right: -20px;
    width: 348px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 43px 24px 41px;
    background: linear-gradient(140.39deg, rgba(144, 151, 170, 0.15) 0.14%, rgba(0, 0, 0, 0.15) 96.57%), rgba(5, 6, 7, 0.8);

    transform: translateX(-20px);
    transition: transform 0.3s ease-out;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.navbarMenuButton {
    cursor: pointer;
    height: 40px;
    width: 34px;
}

.navbarContainer ul {
    list-style: none;
    transition: all 700ms ease-in-out;
}

.navbarContainer ul p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.button {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
    background: transparent;
    border: 0;

    cursor: pointer;
}

.item {
    padding: 30px 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.item li {
    margin-left: 20px;
}

.link {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.link img {
    margin-right: 10px;
}

.exitButton {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.arrow {
    margin-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbarContainer ul{
    margin-top: 20px;
}

.social {
    position: absolute;
    bottom: 41px;
    left: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social img {
    height: 22px;
    width: 22px;
}

@media (min-width: 1160px) {
    .navbarMobile {
        display: none;
    }

    .navbarContainer {
        display: none;
    }
}

@media (max-height: 800px) {
    .item {
        padding: 24px 16px;
    }

    .navbarContainer ul{
        margin-top: 16px;
    }
}

@media (max-height: 700px) {
    .item {
        padding: 16px 16px;
    }

    .navbarContainer ul{
        margin-top: 12px;
    }
}

@media (max-width: 460px) {
    .navbarMobile {
        padding: 0 24px;
    }

    .navbarMenuButton {
        height: 26px;
        width: 22px;
    }
}