.navbarContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: top 0.3s;
    z-index: 1;
}

.navbarContainer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: -1;
}

@media (min-width: 1440px) {
    .navbarDiv {
        width: 1200px;
    }
}

.navbarDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

.logoDiv {
    margin-top: 4px;
}

.navbarNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 150px;
    height: 37px;
    background: transparent;

    border: 1px solid #FFFFFF;
    border-radius: 40px;
    font-weight: 600;

    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-size: 14px;
    list-style: none;
    font-weight: 600;
    margin-right: 40px;
    white-space: nowrap;
    /*height: 67px;*/
}

.dropdown {
    position: relative;
    display: flex;
    align-content: center;
}

.dropdownTitle, .navTitleText {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 3;
}

.dropdown:hover .dropdownContent, .dropdown:hover .dropdownContentHeader, .dropdown:hover .helperBlock, .dropdown:hover .blog {
    display: flex;
    flex-direction: column;
}

.navTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.description {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #9097AA;
    width: 100%;
    max-width: 320px;
    white-space: normal;
    margin-top: 8px;
}

.dropDownItem, .dropDownLastItem {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.dropDownLastItem {
    border-bottom: none
}

.dropDownItem:hover, .dropDownLastItem:hover {
    backdrop-filter: brightness(150%);
    border-bottom: none;
    padding-left: 19px;
    padding-right: 40px;
    margin: 0 0 0 1px;
}

.dropDownItem:hover {
    padding-bottom: 21px;
}

.dropDownItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropDownItemHeader img {
    margin-right: 10px;
}

.dropdownContent {
    width: 400px;
}

.dropdownContent::before, .dropdownContentHeader::before {
    content: '';
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #1D223080;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.dropdownContent::before {
    width: 100%;
    height: 100%;
}

.dropdownContentHeader::before {
    width: calc(100% + 1px);
    height: 100%;
}

.dropdownContentHeader::before {
    border-right: none;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.dropdownContent::before {
    border-radius: 0 6px 6px 6px;
    border-top: none;
}

.helperBlock {
    display: none;
    position: absolute;
    height: 64px;
    left: 100%;
    bottom: -30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 0 6px;
}

.dropdownContentHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 150%;
}

.dropdownContentHeader, .dropdownContent {
    display: none;
    position: absolute;
}

.dropdownContentHeader {
    top: -108%;
    left: 0;
    width: 100%;
    height: 73px;
}

.dropdownContent {
    top: 240%;
    left: 0;
}

.borderBlock1, .borderBlock2 {
    position: absolute;
    top:0;
    border-top-right-radius: 6px;
    z-index: 2;
}

.borderBlock1 {
    right: -1px;
    width: 10px;
    height: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.borderBlock2 {
    right: -1px;
    width: 6px;
    height: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.borderBlock3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.blog {
    display: none;
    position: absolute;
    right: -90%;
    top: -110%;
    width: 80px;
    height: 73px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #1D223080;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

@media (max-width: 1440px) {
    .navbarDiv {
        width: 84%
    }
}

@media (max-width: 1159px) {
    .navbarContainer {
        display: none;
    }
}
