.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    background: #000A1D;
    width: 100%;
}

.centeredDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleText {
    margin-top: 40px;
    font-weight: 700;
    font-size: 14px;
    background: linear-gradient(133.96deg, #1945E1 10.01%, #206DE1 93.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    list-style: none;
    margin-top: 40px;
    width: 900px;
    padding-left: 20px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-content: center;
    align-items: center;
    margin-top: 35px;
}

.brushfam-mini-logo {
    width: 89px;
    height: 15px;
}

@media (max-width: 860px) {
    .ul {
        justify-content: space-evenly;
    }
}

@media (max-width: 760px) {
    .section {
        height: 390px;
    }
    .titleText {
        font-size: 12px;
    }

    .ul {
        flex-direction: column;
        align-content: center;
        row-gap: 30px;
    }
}

@media (max-width: 460px) {
    .ul img {
        transform: scale(0.8);
    }
}
