.sectionContent {
    display: flex;
    flex-direction: row;
    column-gap: 94px;
    padding-bottom: 40px;
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.textBlock p {
    max-width: 500px;
}

.titleText {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 16px;
}

.contactsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.contactBlock {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.name {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
}

.role {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 33px;
    max-width: 200px;
}

.consultButton {
    font-size: 14px;
}

@media (max-width: 1100px) {
    .sectionContent {
        flex-direction: column;
        row-gap: 64px;
    }
}

@media (max-width: 600px) {
    .titleText {
        font-size: 40px;
    }

    .name {
        font-size: 20px;
    }

    .role {
        font-size: 14px;
    }

    .contactBlock img {
        width: 130px;
        height: 130px;
    }

    .sectionContent {
        padding-bottom: 0;
        width: 88.8%;
    }

    .consultButton {
        font-size: 12px;
        padding: 12px !important;
    }

    .contactsBlock {
        row-gap: 40px;
    }

    .role {
        margin-bottom: 23px;
    }
}